/* Make calendar numbers darker */
.react-calendar__month-view__days__day {
  color: #333;
}

/* Make numbers of neighboring months lighter to de-emphasize them */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #ccc;
}

/* Make year/month and navigation arrows bolder */
.react-calendar__navigation button {
  font-weight: bold;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__navigation__label {
  font-weight: bold;
}

/* Style for the focus time display */
.focus-time-display {
  font-size: 0.7rem;
  color: #3b82f6; /* A shade of blue */
  margin-top: 2px;
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  text-align: center;
}
